<%- include('../partiels/header') %>
<div class="nav d-flex justify-content-center mt-3">
  <h5>Bienvenue sur le programme CRUD avec Nodejs</h5>
</div>
<div class="container d-flex justify-content-center mt-3">
  <a href="/inserer"
    ><button class="btn btn-success m-2">Ajouter un utilisateur</button></a
  >
  <a href="/utilisateurs"
    ><button class="btn btn-primary m-2">Voir la liste</button></a
  >
</div>
<%- include('../partiels/footer') %>
